.container{
    width: 100%;
    display: grid;
    
    grid-template-areas: 
    "h1 h2 h3"
    "h1 h4 h5";
}
#img1{
    border-radius: 5%;
    width: 800px;
    height: 450px;
}
img{
    border-radius: 5%;
    width: 300px;
    height: 200px;
}
.container_child1{
    grid-area: h1;
}
.container_child2{
    grid-area: h2;
}
.container_child3{
    grid-area: h3;
}
.container_child4{
    grid-area: h4;
}
.container_child5{
    grid-area: h5;
}
#day{
    opacity: 0.4;
}