
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.mid{
  width: 100%;
}
.l{
  width:15% ;
  background-color: rgb(106, 240, 220);
}
.r{
  width: 85%;
  
}
.Header{
  background-color: rgb(247, 177, 227);
  position: relative;
}
.right-header {
  width: 30%;

}
form{
  display: flex;
  text-align: right;
}
.navbar{
  justify-content: space-around;
}
.l button{
  width: 100%;
}
.btn {
  border-radius: 0px;
}
.formHeader{
  position: absolute;
  left: 50%;
  padding :10px;
  background-color: greenyellow;
}
.formHeader>div>label{
  width:100px
}


